.ada-io-global-indicators-state,
.ada-io-global-indicators-state > .ada-content-state__content {
    width: 100%;
    min-width: 0;
    min-height: 0;
}

#ada-generic-application:has(.ada-io-dashboard[data-ada-io-presentation='mine'])
.ada-io-global-indicator-placement:not([data-ada-io-scope-mine='true']),
#ada-generic-application:has(.ada-io-dashboard[data-ada-io-presentation='plant'])
.ada-io-global-indicator-placement:not([data-ada-io-scope-plant='true']) {
    display: none;
}

@media only screen and (min-width: 1280px) {
    .ada-io-global-indicators-state,
    .ada-io-global-indicators-state > .ada-content-state__content {
        height: 100%;
    }
}
